.accordion-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
  }
 
  
  .accordion-header {
    background-color: #f4f4f4;
    padding: 3px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
  }
  
  .accordion-header:hover {
    background-color: #e0e0e0;
  }
  
  .accordion-body {
    padding-top: 5px;
    padding-left: 30px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    font-size: 20px;

  }
  .accordion-body.open {
    display: block;}